
body {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background-image: url('/images/nodes.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;   
}

.top h1 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

.top p {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.node {
    background-color: darkgreen;
    border: none;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
}

#github {
    position: absolute;
    top: 48.7%;
    left: 59.1%;
}

#linkedin {
    position: absolute;
    top: 84.9%;
    left: 51.9%;
}

#powerlifting {
    position: absolute;
    top: 35.7%;
    left: 7.5%;
}

.green-node {
    color: darkgreen;
}